/*上半部分*/
.top_content{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 	-webkit-flex-direction: column;
 	-moz-flex-direction: column;
 	-ms-flex-direction: column;
 	-o-flex-direction: column;
 	flex-direction: column;
 	-ms-align-items: center;
 	align-items: center;
}
/*地址栏*/
.bottom_addContain{
	width: 90%;
	margin: 1.5rem auto 0;
	padding-left: 1rem;
	border-left: .4rem solid #9DA1A7;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 	justify-content: space-between;
 	-ms-align-items: flex-start;
 	align-items: flex-start;
}
.bottom_addContain>div{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 	-webkit-flex-direction: column;
 	-moz-flex-direction: column;
 	-ms-flex-direction: column;
 	-o-flex-direction: column;
 	flex-direction: column;
 	justify-content: space-between;
}
.bottom_addContain>img{
	width: 2rem;
	-ms-align-self: center;
	align-self: center;
}
.bottom_add_city{
	font-weight: bold;
	color: #000;
	margin-bottom: .5rem;
}
.bottom_add_addDetail{
	font-size: .75rem;
}
.validateContent{
	display: none;
	height: 2.5rem;
	width: 100%;
	background: #18806B;
	color: #fff;
	line-height: 2.5rem;
	text-align: center;
	position: fixed;
	z-index: 1;
	top: 0;
}
/*表单*/
form{
	width: 100%;
	margin-top: 1.5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
/*其他地址模块*/
.apply_model{
	width: 100%;
	height: 2rem;
	border: none;
	padding: .5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #ddd;
	outline: none;
	font-size: .875rem;
}
.apply_model:last-child{
	border-bottom: 1px solid #ddd;
}
.apply_model_title{
	width: 4rem;
	margin: .5rem;
	background: #ddd;
	color: #767676;
	text-align: center;
	border-radius: 1rem;
	font-size: .75rem;
	padding: .1rem;
}
/*提交按钮*/
.subBtn{
	width: 86%;
	height: 2rem;
	margin: 2rem auto 0;
	border-radius: .2rem;
	color: #fff;
	background: #1E8957;
	outline: none;
	font-size: .875rem;
	border: none;
}
/*footer*/
.footer{
	width: 100%;
	height: 1.5rem;
	position: fixed;
	bottom: 0;
	z-index: 1;
	margin-bottom: .5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.footer-icon{
	width: 1.5rem;
	height: 1.5rem;
	margin-right: .5rem;
}
.footer-border{
	width: 100%;
	height: 1px;
	border-bottom: .1rem dashed #005f33;
	margin: 0 .5rem;
}